In [1]:
import pandas as pd

In [2]:
#Leemos archivo estado 
df_estado = pd.read_csv('/Users/pabloclementi/Desktop/Estados (1).csv')

In [3]:
df_estado.columns

Index(['Unnamed: 0', 'user_id', 'name_x', 'time', 'rating', 'text', 'gmap_id',
       'fecha', 'name_y', 'address', 'latitude', 'longitude', 'category',
       'avg_rating', 'num_of_reviews', 'url', 'estadium', 'review_sentiment'],
      dtype='object')

In [4]:
df_estado.head(2)

,Unnamed: 0,user_id,name_x,time,rating,text,gmap_id,fecha,name_y,address,latitude,longitude,category,avg_rating,num_of_reviews,url,estadium,review_sentiment
0,0,1.145221e+20,Jessica,1485482099301,5,Where has this been all my life!!! SMOOTHIE KI...,0x886466a4208f8ced:0x4e8c845aebe361fe,27/01/2017,Smoothie King,"Smoothie King, 2700 Children's Way, Nashville,...",36.139748,-86.8089,"['Juice shop', 'Fast food restaurant', 'Health...",4.0,8,https://www.google.com/maps/place//data=!4m2!3...,Geodis Park,NaN
1,1,1.167070e+20,nancy lewis,1467655878320,4,Very nice guy that works there.,0x886466a4208f8ced:0x4e8c845aebe361fe,04/07/2016,Smoothie King,"Smoothie King, 2700 Children's Way, Nashville,...",36.139748,-86.8089,"['Juice shop', 'Fast food restaurant', 'Health...",4.0,8,https://www.google.com/maps/place//data=!4m2!3...,Geodis Park,NaN

In [5]:
# Dejamos solo las columnas de Text,stadium,num_of_reviews,gmap_id,review_rating, url,longitude,review_date,avg_rating,address,review_author,latitude,name_x 
df_estado = df_estado[['text','estadium','num_of_reviews','gmap_id','rating','url','longitude','fecha','avg_rating','address','name_x','latitude','name_y']]

In [6]:
#Remplazamos los nombres de las columnas 
df_estado = df_estado.rename(columns={'text':'review_text','estadium':'stadium','rating':'review_rating','fecha':'review_date','name_x':'review_author','name_y':'name'})

In [7]:
df_estado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989733 entries, 0 to 989732
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_text     576216 non-null  object
 1   stadium         989733 non-null  object
 2   num_of_reviews  989733 non-null  int64
 3   gmap_id         989733 non-null  object
 4   review_rating   989733 non-null  int64
 5   url             989733 non-null  object
 6   longitude       989733 non-null  float64
 7   review_date     989733 non-null  object
 8   avg_rating      989733 non-null  float64
 9   address         989389 non-null  object
 10  review_author   989725 non-null  object
 11  latitude        989733 non-null  float64
 12  name            989733 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 98.2+ MB

In [8]:
#Pasamos la columna num_of_reviews,review_rating a float
df_estado['num_of_reviews'] = df_estado['num_of_reviews'].astype(float)
df_estado['review_rating'] = df_estado['review_rating'].astype(float)

In [10]:
df_estado['review_date'] = pd.to_datetime(df_estado['review_date'], errors='coerce')

/var/folders/4k/b142n1x53kq0891h836m2hh80000gn/T/ipykernel_34990/1288013076.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_estado['review_date'] = pd.to_datetime(df_estado['review_date'], errors='coerce')

In [11]:
# Convertir la columna a formato string con el formato YYYY-MM-DD
df_estado['review_date'] = df_estado['review_date'].dt.strftime('%Y-%m-%d')

In [12]:
df_estado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989733 entries, 0 to 989732
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_text     576216 non-null  object
 1   stadium         989733 non-null  object
 2   num_of_reviews  989733 non-null  float64
 3   gmap_id         989733 non-null  object
 4   review_rating   989733 non-null  float64
 5   url             989733 non-null  object
 6   longitude       989733 non-null  float64
 7   review_date     989733 non-null  object
 8   avg_rating      989733 non-null  float64
 9   address         989389 non-null  object
 10  review_author   989725 non-null  object
 11  latitude        989733 non-null  float64
 12  name            989733 non-null  object
dtypes: float64(5), object(8)
memory usage: 98.2+ MB

In [15]:
#Rellenamos las columnas de texto con "SinDato"
df_estado['review_text'] = df_estado['review_text'].fillna('SinDato')
df_estado['stadium'] = df_estado['stadium'].fillna('SinDato')
df_estado['address'] = df_estado['address'].fillna('SinDato')
df_estado['review_author'] = df_estado['review_author'].fillna('SinDato')
df_estado['name'] = df_estado['name'].fillna('SinDato')

In [16]:
#Rellanamos columnas numericas con 0 
df_estado['num_of_reviews'] = df_estado['num_of_reviews'].fillna(0)
df_estado['review_rating'] = df_estado['review_rating'].fillna(0)
df_estado['avg_rating'] = df_estado['avg_rating'].fillna(0)

In [19]:
#Contamos duplicados 
df_estado.duplicated().sum()
#Eliminamos duplicados
df_estado = df_estado.drop_duplicates()

In [22]:
df_estado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 845120 entries, 0 to 989732
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_text     845120 non-null  object
 1   stadium         845120 non-null  object
 2   num_of_reviews  845120 non-null  float64
 3   gmap_id         845120 non-null  object
 4   review_rating   845120 non-null  float64
 5   url             845120 non-null  object
 6   longitude       845120 non-null  float64
 7   review_date     845120 non-null  object
 8   avg_rating      845120 non-null  float64
 9   address         845120 non-null  object
 10  review_author   845120 non-null  object
 11  latitude        845120 non-null  float64
 12  name            845120 non-null  object
dtypes: float64(5), object(8)
memory usage: 122.5+ MB

In [20]:
#Guardamos el archivo en formato json
df_estado.to_json('/Users/pabloclementi/Desktop/reviews_forload5.json', orient='records', lines=True)