In [1]:
import pandas as pd 
import json

In [2]:
data = [] 
with open('/Users/pabloclementi/Desktop/ProyectoFinal/4.json', 'r', encoding='utf-8') as file:
    for line in file:
        data.append(json.loads(line))

In [3]:
#pasamos a dataframe 
df = pd.DataFrame(data)

In [ ]:
df

In [4]:
import pandas as pd
import datetime

def calcular_fecha_desde_milisegundos(milisegundos):
    """
    Convierte una cantidad de milisegundos desde el 1 de enero de 1970 a una fecha.
    
    Args:
    milisegundos (int): Cantidad de milisegundos desde el 1 de enero de 1970.

    Returns:
    datetime.datetime: La fecha resultante, o NaT si el valor está fuera del rango.
    """
    try:
        # Convertir milisegundos a segundos
        segundos = milisegundos / 1000
        
        # Fecha base (1 de enero de 1970)
        fecha_base = datetime.datetime(1970, 1, 1)
        
        # Convertir los segundos a fecha
        fecha_actual = fecha_base + datetime.timedelta(seconds=segundos)
        return fecha_actual
    except OverflowError:
        # Manejar el error en caso de valores fuera de rango
        return pd.NaT

def convertir_time_a_fecha(df):
    """
    Convierte la columna 'time' de milisegundos desde el Unix epoch a fechas,
    y agrega una nueva columna 'fecha' en formato 'dd/mm/aaaa'.

    Args:
    df (pd.DataFrame): DataFrame que contiene la columna 'time'.

    Returns:
    pd.DataFrame: DataFrame con la columna 'fecha' agregada.
    """
    # Verificar si la columna 'time' existe en el DataFrame
    if 'time' not in df.columns:
        raise ValueError("El DataFrame no contiene una columna llamada 'time'.")
    
    # Aplicar la conversión a la columna 'time'
    df['time'] = df['time'].apply(calcular_fecha_desde_milisegundos)
    
    # Crear una nueva columna con el formato de fecha 'dd/mm/aaaa'
    df['fecha'] = df['time'].dt.strftime('%d/%m/%Y')
    
    return df

# Ejemplo de uso
# df = pd.read_csv('ruta/al/archivo.csv')  # Cargar el DataFrame de otra manera
# df_modificado = convertir_time_a_fecha(df)
# print(df_modificado.head())

In [5]:
df_modificado = convertir_time_a_fecha(df)
print(df_modificado.head())

                 user_id           name                    time  rating  \
0  108281556948611282884  Rajeev Saxena 2018-07-31 21:24:13.752       3
1  109782592799785536180   Tommy Gerrin 2019-06-28 19:34:32.112       3
2  111614815258510664927    Buffy Wingo 2016-11-22 18:32:40.515       1
3  113084976152707660718      Mike King 2018-03-26 06:31:24.023       2
4  116155951205758542638        Daija J 2017-08-12 03:20:08.409       3

                                                text  pics  resp  \
0  The clown maintains standards.  All McD's are ...  None  None
1  Average at best. They really need to get back ...  None  None
2  Last week we dealt with an extremely rude empl...  None  None
3  This Mcdonalds has horrible customer service e...  None  None
4  Food has changed. Not as good as it use to be....  None  None

                                 gmap_id       fecha
0  0x888aa31d2f165843:0x9b3bd7d8285acc3a  31/07/2018
1  0x888aa31d2f165843:0x9b3bd7d8285acc3a  28/06/2019
2  0x888aa31d2f165843:0x9b3bd7d8285acc3a  22/11/2016
3  0x888aa31d2f165843:0x9b3bd7d8285acc3a  26/03/2018
4  0x888aa31d2f165843:0x9b3bd7d8285acc3a  12/08/2017

In [ ]:
df_modificado